@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');

*{
    font-family: 'Hind Siliguri', sans-serif;
}

body {
    background: #050d38;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #f0effb;
    width: 85vw;
    height: auto;
    margin: 40px auto;
    border-radius: 10px;
}

.container h3 {
    font-size: 3.5em;
    margin: 5px auto;
    text-align: center;
}

.container p {
    font-size: 1.5em;
    margin: 50px 10px;
}

.container__inputs{
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.container__inputs input, .container__inputs__busqueda__select {
    background: #abc;
    font-size: 1.2em;
    width: auto;
    margin: 10px;
    border: none;
    border-radius: 10px;
    height: 30px;
    padding-left: 5px;
}

.examinar {
    display: block;
    background: #510a9f;
    border: none;
    border-radius: 10px;
    padding: 15px 25px;
    font-size: 1.3em;
    margin: 10px auto;
}

.examinar:active {
    transform: scale(.85);
    transition: transform .2s;
}

.green {
    color: green
}

.yellow {
    color: yellow
}

.red {
    color: red;
}

@media (max-width: 1094px) {
    .container p {
        margin: 0.5em auto;
        padding: 0.2em;
        font-size: 1.3em;
    }
    .container h3 {
        font-size: 2em;
    }
    .container__inputs {
        display: flex;
        margin: 0.6em auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container__inputs input, .container__inputs__busqueda__select {
        display: block;
        width: 14em;
        margin: 0.5em;
    }
    .examinar {
        margin: 1em auto;
    }
}

@media (max-width: 350px) {
    .container {
        width: 100vw;
    }
    .container p {
        margin: 0 auto;
        padding: 0.3em;
        font-size: 0.8em;
    }
    .container h3 {
        font-size: 1.5em;
    }


    .container__inputs {
        display: flex;
        margin: 0.3em auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container__inputs input, .container__inputs__busqueda__select {
        display: block;
        width: 12em;
        margin: 0.5em auto;
    }
    .examinar {
        margin: 1em auto;
        font-size: 1.3em;
    }
}