@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Kanit', sans-serif;
}



body {
  background: #000;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #e5e5e5;
  animation: ripple 15s infinite;
  box-shadow: 0px 0px 1px 0px #000;
  z-index: -10;
}

.small {
  width: 200px;
  height: 200px;
  left: -100px;
  bottom: -100px;
}

.medium {
  width: 400px;
  height: 400px;
  left: -200px;
  bottom: -200px;
}

.large {
  width: 600px;
  height: 600px;
  left: -300px;
  bottom: -300px;
}

.xlarge {
  width: 800px;
  height: 800px;
  left: -400px;
  bottom: -400px;
}

.xxlarge {
  width: 1000px;
  height: 1000px;
  left: -500px;
  bottom: -500px;
}

.shade1 {
  opacity: 0.2;
}
.shade2 {
  opacity: 0.5;
}

.shade3 {
  opacity: 0.7;
}

.shade4 {
  opacity: 0.8;
}

.shade5 {
  opacity: 0.9;
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.8);
  }
}

h1 {
  color: #fff;
  margin: 0.3em auto;
  text-align: center;
}

.chat-real-time {
  display: flex;
  background-color: rgba(229, 229, 229, 0.3);
  flex-direction: column;
  width: 85vw;
  height: auto;
  margin: 2em auto;
  border-radius: 10px;
}

.mensajes {
  display: inline-block;
  width: 100%;
  height: 90%;
  min-height: 500px;
  max-height: 90vh;
  overflow-y: auto;
}

.mensajes::-webkit-scrollbar {
  width: 12px;
}

.mensajes::-webkit-scrollbar-track {
  background: transparent;
}

.mensajes::-webkit-scrollbar-thumb {
  background: rgba(20, 33, 61, 0.7);
  border-radius: 10px;
}

.mensajes::-webkit-scrollbar-thumb:hover {
  background: rgba(20, 33, 61, 0.7);
}

.escribirMensaje {
  display: block;
  width: 100%;
  height: 10%;
  padding: 5px;
}

.escribirMensaje-input {
  display: inline-block;
  width: 94%;
  border: none;
  height: 25px;
  background: rgba(20, 33, 61, 0.8);
  border-radius: 10px;
}

.escribirMensaje-input:focus {
  outline: none;
}

.escribirMensaje-btn {
  display: inline-block;
  background: rgba(20, 33, 61, 0.8);
  border: none;
  color: #e5e5e5;
  border-radius: 50px;
  width: 5%;
  height: 25px;
}

.escribirMensaje-btn:active {
  transform: scale(0.9);
}

.container-mensaje__enviado,
.container-mensaje__recibido {
  display: block;
  /* max-width: 500px; */
  min-height: 25px;
  margin-left: 2.5%;
  margin-top: 1.5%;
  text-align: start;
}

.container-mensaje__enviado {
  transform: scale(-1, 1);
  transform: rotate(180deg);
  margin-right: 2.5%;
}

.mensaje-fecha {
  font-size: 70%;
  color: #8c8c8c;
  margin-left: 10px;
}

.mensaje-recibido,
.mensaje-enviado {
  display: inline-block;
  font-size: 110%;
  background: #fff;
  padding: 5px 18px 5px 8px;
  border-radius: 10px;
  max-width: 500px;
}

.mensaje-enviado {
  background: #d9fdd3;
  transform: scale(-1, -1);
}

@media (max-width: 780px) {
  .escribirMensaje {
    padding: 0.8em;
  }
  .escribirMensaje-input {
    width: 80%;
    margin: 0 auto;
  }
  .escribirMensaje-btn {
    width: 10%;
  }
}
